<a href="https://colab.research.google.com/github/Krankile/ensemble-forecasting/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Setup

In [1]:
!pip install kora -q
#from google.colab import drive
#drive.mount('/content/drive')
from kora import drive
drive.link_nbs()

In [2]:
import pickle
from ensemble import *

importing Jupyter notebook from /nbs/ensemble.ipynb
Requirement already satisfied: statsmodels in /usr/local/lib/python3.7/dist-packages (0.13.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (0.5.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.19.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.1.5)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels) (1.4.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25->statsmodels) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.2->statsmodels) (1.15.0)
Requirement already satisfied: pmdarima in /usr/local/lib/python3.7/dist-packages (1.8.3)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (57.4.0)
Requirement already satisfied: numpy>=1.19.3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.0.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.29.24)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.22.2.post1)
Requirement already satisfied: statsmodels!=0.12.0,>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.13.0)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->pmdarima) (1.15.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (0.5.2)
Requirement already satisfied: tbats in /usr/local/lib/python3.7/dist-packages (1.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tbats) (1.19.5)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from tbats) (0.22.2.post1)
Requirement already satisfied: pmdarima in /usr/local/lib/python3.7/dist-packages (from tbats) (1.8.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from tbats) (1.4.1)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from pmdarima->tbats) (57.4.0)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.7/dist-packages (from pmdarima->tbats) (0.29.24)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pmdarima->tbats) (1.1.5)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from pmdarima->tbats) (1.24.3)
Requirement already satisfied: statsmodels!=0.12.0,>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima->tbats) (0.13.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima->tbats) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima->tbats) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima->tbats) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->pmdarima->tbats) (1.15.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima->tbats) (0.5.2)

After running Auto-encoding.ipynb, manual-feature-extraction.ipynb and ensemble.ipynb, we are left with a rather large amount of data. For instance, the pickle file of all the models in all the ensembles produced for the 5000 timesseries is of size 4.57G. To speed up the training processs in weight_net.ipynb, we can make a large dataset, of which all timesseries have an associated auto-encoding, manual-features and forecast for $n<9$ methods in the ensamble

#Create the epic dataframe of DOOM

##Create a dictionary of dataframes

First, we find the idx of the shuffled timeseries our ensamble fitted to, overnight, on our XX CPU

In [3]:
manual_features = pd.read_csv('/content/drive/MyDrive/Master, Ankile og Krange/Data/manual features/monthly_manual_features.csv')
manual_features.set_index("Unnamed: 0",inplace=True)

In [4]:
lst = [("auto_features",8),("meta_data",1),("Random_walk_with_drift",18),("Naive",18),("Snaive",18),("Theta",18),("Auto_Arima",18),("Eps",18),("STLM_AR",18),("actuals",18)] 
columns = ["id"] + manual_features.columns.tolist()
for tup in lst: 
  for i in range(tup[1]):
    columns.append(f"{tup[0]}_{i}")

epic_dataframe_of_doom = pd.DataFrame(columns=columns).set_index("id")

In [5]:
with open('/content/drive/MyDrive/Master, Ankile og Krange/Data/ensembles/ensembles_prot_4.pickle', 'rb') as handle:
    ensembles_5000 = pickle.load(handle)

In [6]:
for key in ensembles_5000:
  epic_dataframe_of_doom.loc[key] = 0

##Calculate $n$ forecast for each dataframe in the dictionary

In [9]:
for idx, row in epic_dataframe_of_doom.iterrows():
  ensembles_5000[idx].models = ensembles_5000[idx].models[:3] + ensembles_5000[idx].models[4:]  #TODO: As of now, some Tbats models had problems regarding the seasonality of series. Remove and fix l8r
  forecasts = ensembles_5000[idx].forecast(18) #forecast horizon is 18 

  for forecast in forecasts:
    start_prediction_index = 0
    start_col = forecast[1].replace(" ","_") + "_0"
    end_col =  forecast[1].replace(" ","_") + "_17"
    epic_dataframe_of_doom.loc[idx, start_col: end_col] = forecast[0][start_prediction_index:]

del ensembles_5000 #delete ensembles_5000 from ram, as we have used it for everything we need it for

In [10]:
#show newly made rows

##Add actual values fore forecasting accuracy testing at the end of the dataframe

In [11]:
actual_values = pd.read_csv('/content/drive/MyDrive/Master, Ankile og Krange/Data/train/Monthly-train.csv')
actual_values = actual_values.set_index("V1")

In [12]:
for idx, row in epic_dataframe_of_doom.iterrows():
  row = actual_values.loc[idx].dropna().to_list()[-18:] 
  epic_dataframe_of_doom.loc[idx, "actuals_0":"actuals_17"] = row

##Calculate AutoEncoding add to each dataframe in the dictionary

##Calculate ManualFeatures and add to each dataframe in the dictionary

In [13]:
manual_features = pd.read_csv('/content/drive/MyDrive/Master, Ankile og Krange/Data/manual features/monthly_manual_features.csv')
manual_features.set_index("Unnamed: 0",inplace=True)
#manual_features

In [14]:
for idx, row in epic_dataframe_of_doom.iterrows():
  epic_dataframe_of_doom.loc[idx, "frequency":"seas_acf1"] = manual_features.iloc[int(idx[1:]),].to_list()

In [15]:
%%html
<marquee style='width: 30%; color: green;'><b>:D EPIC DATAFRAME OF DOOM :- ] EPIC DATAFRAME OF DOOM :) EPIC DATAFRAME OF DOOM</b></marquee>

In [16]:
epic_dataframe_of_doom

       frequency nperiods seasonal_period  ... actuals_15 actuals_16 actuals_17
id                                         ...
M38737        12        1              12  ...    1739.78    1796.99    1803.75
M12946        12        1              12  ...       1264       1271       1281
M12038        12        1              12  ...       1381       1377       1353
M7541         12        1              12  ...       3510       3400       3290
M43477        12        1              12  ...       8381       8025       8009
...          ...      ...             ...  ...        ...        ...        ...
M32033        12        1              12  ...    2986.58    3843.23    2648.53
M25682        12        1              12  ...     9069.7    9819.73    11131.9
M4869         12        1              12  ...     9163.8    11419.4    12621.9
M14907        12        1              12  ...     3930.4     6694.2     5636.9
M46544        12        1              12  ...     4519.5     5130.5       5750

[5000 rows x 173 columns]

##Write to file if wanted

In [17]:
PATH = '/content/drive/MyDrive/Master, Ankile og Krange/Data/epic_dataframe_of_doom.csv'
epic_dataframe_of_doom.to_csv(PATH)